
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span style="color:aliceblue"><h2 style="text-align:center"><strong>Giới thiệu</strong></h2></span>
<br />
<p><span style=" "><span style="color:white">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Hiện nay c&aacute;c doanh nghiệp, phải đối mặt với c&aacute;c th&aacute;ch thức trong c&aacute;ch vận h&agrave;nh v&agrave; quản l&yacute;</span></span><span style=" "><span style="color:white"> c&acirc;y xanh</span></span><span style=" "><span style="color:white">. Kể cả vừa v&agrave; lớn, nh&acirc;n sự đều phải vận h&agrave;nh, gi&aacute;m s&aacute;t </span></span><span style=" "><span style="color:white">v&agrave; quản l&yacute; c&acirc;y xanh </span></span><span style=" "><span style="color:white">bằng c&aacute;c c&aacute;ch thức truyền thống: excel, giấy tờ, giao tiếp bằng mạng x&atilde; hội,&hellip; G&acirc;y l&atilde;ng ph&iacute; v&agrave; thất tho&aacute;t c&aacute;c chi ph&iacute; thiếu minh bạch, r&otilde; r&agrave;ng</span></span><span style=" "><span style="color:white">, hiệu suất thấp.</span></span><span style=" "><span style="color:white"> Nh&agrave; </span></span><span style=" "><span style="color:white">điều h&agrave;nh quản l&yacute; c&acirc;y </span></span><span style=" "><span style="color:white">ra quyết định dựa tr&ecirc;n kinh nghiệm l&agrave;m việc g&acirc;y nhiều sai s&oacute;t: tốn thời gian, nguồn lực. Quản l&yacute; </span></span><span style=" "><span style="color:white">c&acirc;y xanh </span></span><span style=" "><span style="color:white">l&agrave; một trong những c&ocirc;ng việc</span></span><span style=" "><span style="color:white"> tương đối</span></span><span style=" "><span style="color:white"> kh&oacute; khăn v&agrave; phức tạp. C&ocirc;ng t&aacute;c vận h&agrave;nh, quản trị kh&ocirc;ng được cập nhật tức thời, thiếu t&iacute;nh ch&iacute;nh x&aacute;c v&agrave; trực quan.Vậy n&ecirc;n cần c&oacute; c&aacute;c </span></span><span style=" "><span style="color:white">m&ocirc; h&igrave;nh wed</span></span><span style=" "><span style="color:white"> quản l&yacute; </span></span><span style=" "><span style="color:white">c&acirc;y xanh</span></span></p>

<p><span style=" "><span style="color:white">M&ocirc; h&igrave;nh wed </span></span><span style=" "><span style="color:white">quản l&yacute; </span></span><span style=" "><span style="color:white">c&acirc;y xanh</span></span><span style=" "><span style="color:white"> l&agrave; một kho lưu trữ th&ocirc;ng tin chi tiết về c&aacute;c</span></span><span style=" "><span style="color:white"> c&acirc;y xanh:</span></span></p>

<p><span style=" "><span style="color:white">loại c&acirc;y, khu vực c&acirc;y, đường, quận, tuổi, ng&agrave;y trồng, ng&agrave;y chặt bỏ, v.v...</span></span></p>

<p><span style=" "><span style="color:white">V&agrave; c&oacute; chức năng kết nối v&agrave; chia sẻ th&ocirc;ng tin theo thời gian thực, điều phối vi&ecirc;n d&ugrave;ng lập kế hoạch, thực hiện v&agrave; theo d&otilde;i c&aacute;c</span></span><span style=" "><span style="color:white"> c&acirc;y xanh</span></span><span style=" "><span style="color:white">.</span></span></p>

<p style="margin-left:0in; margin-right:0in; text-align:justify">&nbsp;</p>



